body {
    margin: 0 20% 0 20%;
    background-color: darkblue;
}

.orange {
    color: orange;
}

.grey {
    background-color: gray;
}
header {
    display: block;
}

.bloc {
    float: right;
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
    float : right;
    padding: 1% 5% 0 0;
    margin: 0 auto;
}
header, main {
    background-color: white;
}